.alive{
    /* background-color: lightcoral; */
    background-color: #fc9d9a;
}
.dead{
    /* background-color: #0d3d56; */
    /* background-color: lightgoldenrodyellow; */
    background-color: #83af9b;
}

.container{
    margin-top: 25px;
}

.main-heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}

.gen{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.main-row{
    margin-left: 200px;
}

button{
    margin-left: 10px;
}